
*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(237, 233, 233);
}
/*------------
estilo Encabezado
------------*/
h1{
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 46px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
header{
    box-sizing: border-box;
    background: rgb(91, 87, 119);
    padding: 35px ;
    position: relative;
}
/*------------
estilo Contenido
------------*/
.contenido{
     padding: 80px 140px 100px 140px;
}
p{
    font-family: 'Victor Mono', monospace;
    text-align: justify;
}
.img-cont{
    width: 280px;
    float:right;
    padding: 20px;
    position: relative;
    border-radius:15px;
}
/*------------
Estilo Menu de navegacion
------------*/

.menu{
    background:rgb(91, 87, 119); 
    list-style: none;
    text-align: center;
    padding: 20px;
}

ul li{ 
    display: inline-block;
}

ul a{
    text-decoration: none;
    color: #dcdce9;
    background-color: rgb(141, 141, 147);
    padding: 10px 16px;
    border-radius: 5px;
    opacity: 0.6;
    font-size: 26px;
    display: inline-block;
    outline: none;
    margin: 4px;
    transition: 0.2s ease;
    font-family: 'Mulish', sans-serif;
}
ul li a.activo{
background-color: rgb(92, 92, 162);
transform: none;
}

ul li a:hover{
opacity: 1;
}

/*------------

/*--------------
estilo formulario basico
-------------*/

.form-basico {
    max-width: 640px;
    margin: 0 auto;
    padding: 55px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    font: bold 14px sans-serif;
    text-align: center;
}
.campo:valid + .icon  {
    color: green;
  }
  .campo:invalid + .icon {
    color: rgb(227, 14, 14);
  }


.entrada {
    text-align: left;
    margin-bottom: 22px;
}

.titulo {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    color: #4c565e;
    font-size: 24px;
    padding: 0 10px 15px;
    border-bottom: 2px solid rgb(19, 19, 59);
    margin: 0;
    font-size: 22px;
    margin-bottom: 30px;
}

.form-basico .entrada label {
    display: inline-block;
    box-sizing: border-box;
    color: #5F5F5F;
    width: 180px;
    text-align: left;
    vertical-align: top;
    padding: 12px 25px;
}

.form-basico input[type=text],
.form-basico input[type=email], 
.form-basico input[type=password]{
    color: #5f5f5f;
    box-sizing: border-box;
    width: 240px;
   padding: 12px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.form-basico input[type=radio],
.form-basico input[type=checkbox] {
    box-shadow: none;
    width: auto;
}

.form-basico input[type=checkbox] {
    margin-top: 13px;
}

.form-basico select {
    background-color: #ffffff;
    color: #5f5f5f;
    box-sizing: border-box;
    max-width: 240px;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 8px;
    border: 1px solid #dbdbdb;
}

.form-basico textarea {
    color: #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    height: 100px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    font: normal 13px sans-serif;
    padding: 12px;
    border: 1px solid #dbdbdb;
    resize: vertical;
}

.opciones {
    display: inline-block;
    vertical-align: top;
}

.opciones div {
    margin-top: 10px;
}

.opciones label span {
    margin-left: 8px;
    color: #5f5f5f;
    font-weight: normal;
}

.opciones input {
    width: auto;
}

.form-basico input[type=button] {
    display: block;
    border-radius: 2px;
    background-color: rgb(19, 19, 59);
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin: 40px 183px 0;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}


/*	diseño responsivo*/

@media (max-width: 600px) {
    .form-basico {
        padding: 30px;
        max-width: 480px;
    }
    .form-basico .entrada {
        max-width: 300px;
        margin: 25px auto;
        text-align: left;
    }
    .form-basico .titulo {
        margin-bottom: 50px;
    }
    .form-basico .entrada>label span {
        display: block;
        text-align: left;
        padding: 0 0 15px;
    }
    .form-basico select {
        width: 240px;
    }
    .form-basico input[type=checkbox] {
        margin-top: 0;
    }
    .form-basico .opciones>div {
        margin: 0 0 10px;
    }
    .form-basico button {
        margin: 0;
    }
}



/*--------------
estilo formulario de validacion
-------------*/

.form-validacion {
    max-width: 640px;
    margin: 0 auto;
    padding: 55px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    font: bold 14px sans-serif;
    text-align: center;
}

.form-validacion .entrada label {
    display: inline-block;
    box-sizing: border-box;
    color: #5F5F5F;
    width: 180px;
    text-align: left;
    vertical-align: top;
    padding: 12px 25px;
}

.form-validacion input[type=text],
.form-validacion input[type=email], 
.form-validacion input[type=password]{
    color: #5f5f5f;
    box-sizing: border-box;
    width: 240px;
   padding: 12px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.form-validacion input[type=radio],
.form-validacion input[type=checkbox] {
    box-shadow: none;
    width: auto;
}

.form-validacion input[type=checkbox] {
    margin-top: 13px;
}



.form-validacion input[type=button] {
    display: block;
    border-radius: 2px;
    background-color: rgb(19, 19, 59);
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin: 40px 183px 0;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}




/*	diseño responsivo*/

@media (max-width: 600px) {
    .form-validacion {
        padding: 30px;
        max-width: 480px;
    }
    .form-validacion .entrada {
        max-width: 300px;
        margin: 25px auto;
        text-align: left;
    }
    .form-validacion .titulo {
        margin-bottom: 50px;
    }
    .form-validacion .entrada>label span {
        display: block;
        text-align: left;
        padding: 0 0 15px;
    }
   
    .form-validacion input[type=checkbox] {
        margin-top: 0;
    }
    .form-validacion .opciones>div {
        margin: 0 0 10px;
    }
    .form-validacion button {
        margin: 0;
    }
}